<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>

<body>

  <form id="content" method="POST" name="submit-form">
    <input type="text" name="input" class="input" id="search-input">
    <button type="reset" class="search" id="search-btn"></button>
  </form>


    <!-- Compiled and minified JavaScript -->




<script>
  // updated 2019
const input = document.getElementById("search-input");
const searchBtn = document.getElementById("search-btn");

const expand = () => {
  searchBtn.classList.toggle("close");
  input.classList.toggle("square");
};

searchBtn.addEventListener("click", expand);




//  old version / jquery
//
// function expand() {
//   $(".search").toggleClass("close");
//   $(".input").toggleClass("square");
//   if ($('.search').hasClass('close')) {
//     $('input').focus();
//   } else {
//     $('input').blur();
//   }
// }
// $('button').on('click', expand);
//


</script>


</body>
